input {
  width: 150px;
  height: 100px;
  font-size: 75px;
  border-radius: 10px;
  margin: 10px;
/*   background-color: #000; */
   background-color: #585e65;
  color: #fff;
  border-style: none;
}
#myform {
  text-align: center;

  margin-top: 20px;
}
h2 {
  text-align: center;
  font-size: 30px;

  margin-top: 20px;
}
